<div class="container">

<div class="panel panel-default">
	<div class="panel-heading welcome">About Us</div>
	<div class="panel-body">
		<p>
			After the success of Python, there was tough competition in the field to sustain in the IT industry.
			One should learn, if he/she needs to survive in the industry. Hence, I started the coding in Ruby.
			Wise is not the person, who complains about the situation, but the one, who is capable of changing the tides to his favour.
			I set sails for Ruby. And now, I am in Ruby on Rails..
		</p>
	</div>

</div>