<div class="container">

<div class="panel panel-default">
	<div class="panel-heading welcome">Welcome Friends!!</div>
	<div class="panel-body">
		<p>
			The intention of this application is to learn Ruby on Rails well.
			All the difficulties that we face today, make us more stronger tomorrow.
			There has been lot of gossips that, I have left the industry for good. But this is to make you know that things don't end there.
			There are lots to keep in mind, when you code. You need to start again and come back again.
		</p>
	</div>

</div>